$width-tablet: 768px !default;
$width-desktop: 1440px !default;

.additional-product__name {
  @include block-reset;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #222222;

  text-transform: uppercase;
}

.additional-product__description {
  width: 100%;
  border-collapse: collapse;
}

.additional-product__property {
  font-family: $font-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $color-text-secondary;
  vertical-align: middle;
}

.additional-product__property-name {
  width: 65%;
  padding: 13px 0 0;
  text-align: left;
}

.additional-product__property-value {
  width: 35%;
  padding: 13px 0 0;
  text-align: right;
}

.additional-product__button {
  width: 100%;

  margin-top: 15px;
  padding: 10px 15px;

  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $width-tablet) {
  .additional-product {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    margin-top: 13px;
    padding: 11px 38px 27px;

    border-bottom: 1px solid $color-border-main;
  }

  .additional-product__name {
    padding-bottom: 5px;
    width: 300px;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-product__description {
    width: 271px;
  }

  .additional-product__property {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-product__property-name {
    padding: 0;
    text-align: right;
  }

  .additional-product__property-value {
    padding: 0;
    text-align: right;
  }

  .additional-product__button {
    width: 100%;
    margin-top: 22px;
  }
}
