$width-tablet: 768px !default;
$width-desktop: 1440px !default;

$margin-section: 20px !default;
$margin-section-tablet: 30px !default;
$margin-section-desktop: 110px !default;

$color-bg-tertiary: #68b738 !default;

$color-border-main: #cdcdcd !default;

$color-text-main: #111111 !default;

$margin-section: 20px !default;

.additional-goods__title-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  margin-top: 28px;

  border-bottom: 1px solid $color-border-main;
}

.additional-goods__title {
  @include block-reset;

  flex-grow: 0;
  flex-shrink: 1;

  padding-bottom: 34px;

  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $color-text-main;
  vertical-align: middle;
  text-align: left;
}

.additional-goods__title-line {
  flex-grow: 1;
  flex-shrink: 1;

  margin-top: 14px;
  margin-right: -$margin-section;
  margin-left: 21px;

  display: block;
  width: 53px;
  height: 3px;

  background-color: $color-bg-tertiary;
}

.additional-goods__item {
  margin-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid $color-border-main;
}

@media (min-width: $width-tablet) {
  .additional-goods__title-wrapper {
    margin-top: 7px;
  }

  .additional-goods__title {
    position: relative;

    margin-left: 37px;

    padding-bottom: 80px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      display: block;

      position: absolute;
      top: 22px;
      left: -67px;

      width: 28px;
      height: 3px;

      background-color: $color-bg-tertiary;
    }
  }

  .additional-goods__title-line {
    margin-top: 22px;
    margin-right: -$margin-section-tablet;
    margin-left: 37px;
  }
}
