$color-text-main: #111111 !default;
$color-text-tertiary: #ffffff !default;

$color-bg-main: #ffffff !default;
$color-bg-banner: #64a83b !default;

$margin-section: 20px !default;

.banner {
  text-align: center;
}

.banner__background {
  min-height: 305px;
  padding-top: 27px;

  background-color: $color-bg-banner;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  color: $color-text-tertiary;
}

.banner__title {
  margin: 0 $margin-section 25px;
  padding: 0;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.banner__text {
  margin: 0 $margin-section;
  padding: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.banner__image {
  margin-top: -156px;
  margin-bottom: -14px;

  min-height: 305px;

  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.banner__button {
  margin-left: $margin-section;
  margin-right: $margin-section;
}

@media (min-width: $width-tablet) {
  .banner {
    position: relative;
    text-align: left;
  }

  .banner__background {
    padding: 0 118px;

    min-height: 0;

    background-color: $color-bg-main;
    background-image: none;
  }

  .banner__title {
    margin: 31px 0 0;
    padding: 0;

    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    color: $color-text-main;
  }

  .banner__text {
    margin: 41px 0 0;
    padding: 0;

    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: $color-text-main;
  }

  .banner__image {
    margin-top: 20px;
    margin-bottom: 0;

    min-height: 609px;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .banner__button {
    position: absolute;
    top: 229px;
    left: 119px;

    display: inline-block;

    margin: 0;
    padding: 16px 28px 16px 26px;

    font-size: 20px;
    line-height: 20px;
  }
}
