$width-tablet: 768px !default;
$width-desktop: 1300px !default;

$color-text-main: #111111 !default;
$color-text-tertiary: #ffffff !default;

$color-bg-main: #ffffff !default;
$color-bg-banner: #64a83b !default;

$margin-section: 20px !default;

.banner {
  text-align: center;

  background: linear-gradient(to bottom, $color-bg-banner 0%, $color-bg-banner 305px, $color-bg-main 305px, $color-bg-main 100%);
}

.banner__background {
  min-height: 305px;
  padding-top: 27px;

  background-color: $color-bg-banner;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 320px auto;
  background-repeat: no-repeat;
  background-position: center;

  color: $color-text-tertiary;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.banner__title {
  margin: 0 $margin-section 25px;
  padding: 0;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.banner__text {
  margin: 0 $margin-section;
  padding: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.banner__image {
  margin-top: -156px;
  margin-bottom: -14px;

  min-height: 305px;

  background-image: url("../img/index-can-mobile@1x.png");
  background-size: 280px auto;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png");
  }
}

.banner__button {
  margin-left: $margin-section;
  margin-right: $margin-section;
}

@media (min-width: $width-tablet) {
  .banner {
    position: relative;
    text-align: left;

    background: $color-bg-main;
  }

  .banner__wrapper {
    position: relative;
  }

  .banner__background {
    padding: 0 118px;

    min-height: 0;

    background-color: $color-bg-main;
    background-image: none;
  }

  .banner__title {
    margin: 31px 0 0;
    padding: 0;

    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    color: $color-text-main;
  }

  .banner__text {
    margin: 41px 0 0;
    padding: 0;

    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: $color-text-main;
  }

  .banner__image {
    margin-top: 20px;
    margin-bottom: 0;

    min-height: 609px;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 709px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  .banner__button {
    position: absolute;
    top: 229px;
    left: 119px;

    display: inline-block;

    margin: 0;
    padding: 16px 28px 16px 26px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $width-desktop) {
  .banner {
    margin-top: 82px;
    padding: 0;

    min-height: 474px;

    background: transparent;
  }

  .banner__wrapper {
    position: relative;
    padding: 0 120px;
  }

  .banner__background {
    padding: 0;

    width: 50%;
  }

  .banner__title {
    margin: 0;
  }

  .banner__text {
    margin: 41px 0 0;
  }

  .banner__image {
    position: absolute;
    top: -135px;
    left: 489px;

    z-index: 10;

    margin-top: 0;

    width: 552px;
    height: 499px;


    background-image: url("../img/index-can-desktop@1x.png");
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }

  .banner__button {
    position: static;

    display: inline-block;

    margin-top: 53px;
    margin-bottom: 30px;
    margin-left: -1px;
  }
}
