$width-tablet: 768px !default;
$width-desktop: 1300px !default;

$margin-section: 20px !default;
$margin-section-tablet: 30px !default;
$margin-section-desktop: 40px !default;


.block-wrapper {
  padding: 0 $margin-section;
}

@media (min-width: $width-tablet) {
  .block-wrapper {
    padding: 0 $margin-section-tablet;
  }
}

@media (min-width: $width-desktop) {
  .block-wrapper {
    padding: 0 $margin-section-desktop;
  }
}
