$color-text-tertiary: #ffffff !default;
$color-bg-tertiary: #68b738 !default;
$color-bg-color-darken: #5eaa2f !default;

.button {
  display: block;
  padding: 11px 15px;

  color: $color-text-tertiary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: $color-bg-tertiary;
  border: none;

  cursor: pointer;

  &:hover {
    background-color: $color-bg-color-darken;
  }

  &:active {
    background-color: $color-bg-color-darken;
    color: rgba($color-text-tertiary, 0.3);
  }
}
