$width-tablet: 768px !default;
$width-desktop: 1300px !default;

$margin-section: 20px !default;
$margin-section-tablet: 30px !default;
$margin-section-desktop: 40px !default;

$color-border-catalog-item: #ededed !default;

.catalog__title {
  @include block-reset;

  margin: 16px $margin-section 28px;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: $color-text-main;
  vertical-align: middle;

  border-bottom: 1px solid $color-border-catalog-item;
}

.catalog__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;

  border-bottom: 1px solid $color-border-catalog-item;

  &--expand {
    display: block;
  }
}

@media (min-width: $width-tablet) {
  .catalog__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .catalog__title {
    margin: 30px $margin-section-tablet 84px;
    padding: 0;

    font-size: 60px;
    text-align: left;

    border-bottom: none;
  }

  .catalog__item {
    display: block;

    width: 324px;
    border-bottom: none;
  }
}

@media (min-width: $width-desktop) {
  .catalog__title {
    margin-top: 48px;
    margin-bottom: 84px;
    margin-left: 40px;

    padding: 0;
    width: 100%;
  }

  .catalog__item {
    width: 245px;
  }
}
