$width-tablet: 768px !default;
$width-desktop: 1300px !default;

$margin-section: 20px;
$margin-section-tablet: 30px;
$margin-section-desktop: 40px;

$color-bg-main: #ffffff !default;
$color-bg-secondary: #f2f2f2 !default;

$color-text-main: #111111 !default;
$color-text-secondary: #444444 !default;

.contacts {
  background-color: $color-bg-main;

  &--secondary {
    background-color: $color-bg-secondary;
  }
}

.contacts__wrapper {
  display: flex;
  align-items: center;

  padding: 12px $margin-section;
}

.contacts__text-call {
  width: 50%;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-text-main;
  text-transform: uppercase;
}

.contacts__address {
  width: 50%;

  font-family: $font-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $color-text-secondary;
}

@media (min-width: $width-tablet) {
  .contacts {
    margin-top: 78px;
  }

  .contacts__wrapper {
    padding: 40px 71px 40px;
  }

  .contacts__text-call {
    padding-right: 20%;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 20%;
    font-size: 16px;
    text-align: right;
  }

  .contacts__city {
    margin-top: 20px;
  }
}

@media (min-width: $width-desktop) {
  .contacts {
    position: relative;

    margin: 0 auto -400px;
    padding: 0;

    height: 400px;
  }

  .contacts__wrapper {
    position: absolute;
    top: 49%;
    left: 50%;

    transform: translate(-107%, -51%);

    z-index: 100;

    display: flex;
    justify-content: space-between;

    width: 570px;
    min-height: 201px;
    padding: 46px 76px 40px;

    background-color: $color-bg-main;
  }

  .contacts__text-call {
    width: 50%;
    padding-right: 20px;
  }

  .contacts__address {
    width: 50%;
    padding-left: 41px;
    text-align: left;
  }
}
