$color-text-main: #111111 !default;
$color-text-secondary: #444444 !default;

.contacts {
  display: flex;
  align-items: center;

  padding-top: 12px;
  padding-bottom: 10px;
}

.contacts__text-call {
  width: 50%;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-text-main;
  text-transform: uppercase;
}

.contacts__address {
  width: 50%;

  font-family: $font-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $color-text-secondary;
}
