$width-tablet: 768px !default;
$width-desktop: 1300px !default;

$font-content: "Arial", sans-serif !default;

$color-bg-tertiary: #68b738 !default;

$color-text-secondary: #444444 !default;

$color-icon-social: #666666 !default;

$margin-section: 20px !default;

.copyright {
  padding-right: $margin-section;
  padding-left: $margin-section;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 21px;
  padding-bottom: 21px;

  font-family: $font-content;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $color-text-secondary;
}

.copyright__icon {
  fill: $color-icon-social;

  &:hover {
    fill: $color-bg-tertiary;
  }

  &:active {
    fill: rgba($color-bg-tertiary, 0.3);
  }
}

@media (min-width: $width-tablet) {
  .copyright {
    padding: 0;

    width: 30%;
  }

  .copyright__link {
    justify-content: flex-end;

    padding: 0;
  }

  .copyright__icon {
    margin-left: 22px;
  }
}
