$font-content: "Arial", sans-serif !default;

$color-bg-tertiary: #68b738 !default;

$color-text-secondary: #444444 !default;

$color-icon-social: #666666 !default;

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 21px;
  padding-bottom: 21px;

  font-family: $font-content;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $color-text-secondary;
}

.copyright__icon {
  fill: $color-icon-social;

  &:hover {
    fill: $color-bg-tertiary;
  }

  &:active {
    fill: rgba($color-bg-tertiary, 0.3);
  }
}
