$width-tablet: 768px !default;
$width-desktop: 1440px !default;

$font-content: "Arial", sans-serif !default;

$color-text-main: #111111 !default;
$color-text-secondary: #444444 !default;

$color-bg-secondary: #f2f2f2 !default;
$color-bg-tertiary: #68b738 !default;

.courses {
  margin-top: 20px;
}

.courses__item {
  margin: 0 0 20px 0;
  padding: 26px 20px 20px;

  background-color: $color-bg-secondary;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.courses__title-wrapper {
  display: flex;

  margin-left: 2px;
}

.courses__title {
  margin: 6px 0 0 0;
  padding: 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  vertical-align: middle;
  color: $color-text-main;

  text-transform: uppercase;
}

.courses__image {
  position: relative;

  float: left;

  margin-right: 19px;
  margin-left: 2px;

  width: 50px;
  height: 50px;

  background-color: $color-bg-tertiary;
  border-radius: 50%;

  &::before {
    content: "";

    display: block;
    margin-top: -2px;

    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--slim {
    &::before {
      background-image: url("../img/icon-cat-slim.svg");
    }
  }

  &--pro {
    &::before {
      margin-left: -9px;
      width: 67px;
      height: 54px;

      background-image: url("../img/icon-cat-pro.svg");
    }
  }
}

.courses__text {
  position: relative;
  margin: 29px 0 0;
  padding: 0 0 22px;

  font-family: $font-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $color-text-secondary;

  &::after {
    position: absolute;
    top: 100%;
    left: 0;

    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgba(black, 0.1);
  }
}

.courses__link {
  display: inline-block;
  margin-top: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  color: $color-text-main;

  cursor: pointer;

  &::after {
    content: "";
    display: inline-block;
    margin-left: 11px;
    width: 25px;
    height: 13px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $width-tablet) {
  .courses {
    margin-top: 0;
  }

  .courses__item {
    margin: 0 0 30px 0;
    padding: 76px 62px 62px 52px;

    min-width: 310px;
  }

  .courses__title {
    margin: 0;

    font-size: 36px;
  }

  .courses__image {
    float: right;
    margin: 0;

    width: 200px;
    height: 200px;

    &::before {
      margin: 0;
      width: 200px;
      height: 200px;
    }

    &--slim {
      margin-top: 16px;
      margin-left: 10px;

      &::before {
        margin-top: -12px;
        width: 199px;
        height: 193px;
      }
    }

    &--pro {
      margin-top: 16px;
      margin-right: -2px;
      margin-left: 55px;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-51%, -50%);

        width: 270px;
        height: 200px;
      }
    }
  }

  .courses__text {
    margin-top: 25px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
    color: $color-text-secondary;

    &::after {
      display: none;
    }
  }

  .courses__link {
    margin-top: 56px;

    font-size: 20px;
    line-height: 20px;

    &::after {
      margin-left: 23px;
      width: 25px;
      height: 18px;
    }
  }
}

@media (min-width: $width-desktop) {
  .courses {
    margin-top: 80px;
  }
}
