$width-tablet: 768px !default;
$width-desktop: 1300px !default;

$color-text-main: #111111 !default;

$margin-section: 20px !default;
$margin-section-tablet: 30px !default;;
$margin-section-desktop: 40px !default;;

.courses-form__title {
  @include block-reset;

  margin: 16px $margin-section 0;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: $color-text-main;
}

.courses-form__text {
  @include block-reset;

  margin: 25px $margin-section 0;
  padding-right: 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $color-text-main;

  text-transform: uppercase;
}

@media (min-width: $width-tablet) {
  .courses-form__title {
    margin: 31px $margin-section-tablet 0;
    font-size: 60px;
  }

  .courses-form__text {
    margin: 55px $margin-section-tablet 0;
    padding-right: 40%;
    padding-left: 40px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $width-desktop) {
  .courses-form__title {
    margin: 48px $margin-section-desktop 0;
    font-size: 60px;
  }

  .courses-form__text {
    margin: 55px $margin-section-desktop 0;
    padding-right: 65%;
    padding-left: 0;

    font-size: 20px;
    line-height: 30px;
  }
}
