$width-tablet: 768px !default;
$width-desktop: 1300px !default;

$color-text-main: #111111 !default;
$color-text-secondary: #444444 !default;

$color-bg-secondary: #f2f2f2 !default;

$color-border-main: #cdcdcd !default;

.efficiency__wrapper {
  display: flex;
  justify-content: center;

  margin-top: 25px;
}

.efficiency__item {
  @include block-reset;

  position: relative;

  padding: 13px 5px 17px;
  width: 124px;

  border: 1px solid $color-border-main;
  border-radius: 3px;

  &:not(:last-child) {
    margin-right: 32px;
  }
}

.efficiency__item-name {
  @include block-reset;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-52%, -35%);
  z-index: 10;

  padding: 5px;

  font-family: $font-content;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: $color-text-secondary;
  text-align: center;
  vertical-align: middle;

  background-color: $color-bg-secondary;
}

.efficiency__item-value {
  @include block-reset;

  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $color-text-main;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.efficiency__cost {
  @include block-reset;

  margin-top: 34px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $color-text-main;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

@media (min-width: $width-tablet) {
  .efficiency {
    display: flex;
    justify-content: space-between;

    margin-top: 53px;
  }

  .efficiency__wrapper {
    margin-top: 0;
  }

  .efficiency__item {
    padding: 15px 5px 18px;
    width: 162px;

    border: 1px solid $color-border-main;
    border-radius: 3px;

    &:not(:last-child) {
      margin-right: 42px;
    }

    &:first-child {
      .efficiency__item-name {
        width: 110px;
      }
    }

    &:last-child {
      .efficiency__item-name {
        width: 138px;
      }
    }
  }

  .efficiency__item-name {
    transform: translate(-50%, -50%);

    font-size: 14px;
    line-height: 14px;

    background-color: $color-bg-main;
  }

  .efficiency__item-value {
    font-size: 30px;
    line-height: 37px;
  }

  .efficiency__cost {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 0;

    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .efficiency__cost-text {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: $width-desktop) {
  .efficiency {
    display: block;

    margin-top: 68px;
  }

  .efficiency__wrapper {
    justify-content: flex-start;
  }

  .efficiency__item-name {
    background-color: $color-bg-secondary;
  }

  .efficiency__cost {
    margin-top: 60px;

    display: block;
    text-align: left;
  }

  .efficiency__cost-text {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 60px;
    }
  }
}
