$width-tablet: 768px !default;
$width-desktop: 1300px !default;

$margin-section: 20px !default;
$margin-section-tablet: 30px !default;
$margin-section-desktop: 40px !default;

$font-content: "Arial", sans-serif !default;

$color-text-main: #111111 !default;
$color-text-secondary: #444444 !default;

$color-bg-main: #ffffff !default;
$color-bg-secondary: #f2f2f2 !default;
$color-bg-slider-after: #eaeaea !default;

.example {
  @include block-reset;

  margin-top: 47px;
  padding-top: 17px;

  background-color: $color-bg-secondary;
}

.example__wrapper {
  padding: 0 $margin-section;
}

.example__title {
  @include block-reset;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  vertical-align: middle;
  color: $color-text-main;
}

.example__text {
  @include block-reset;

  margin-top: 23px;
  padding-right: 1px;

  font-family: $font-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $color-text-secondary;
}

@media (min-width: $width-tablet) {
  .example {
    margin-top: 0;
    padding-top: 13px;

    background-color: $color-bg-main;
  }

  .example__wrapper {
    padding: 0 $margin-section-tablet;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    margin-top: 64px;
    padding-right: 10px;

    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $width-desktop) {
  .example {
    position: relative;
    z-index: 1;

    margin-top: 127px;
    padding-top: 0;
    padding-bottom: 42px;

    background: linear-gradient(to right, $color-bg-secondary 0%, $color-bg-secondary 60%, $color-bg-slider-after 60%, $color-bg-slider-after 100%);
  }

  .example__center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .example__wrapper {
    margin-top: -135px;

    margin-bottom: 34px;
    padding: 0 $margin-section-desktop;
    width: 50%;
  }

  .example__text {
    margin-top: 146px;
    padding-right: 135px;
  }
}
