$width-tablet: 768px !default;
$width-desktop: 1300px !default;

$margin-section: 20px !default;
$margin-section-tablet: 30px !default;;
$margin-section-desktop: 40px !default;;

$color-bg-tertiary: #68b738 !default;

$color-text-main: #111111 !default;
$color-text-secondary: #444444 !default;
$color-text-quaternary: #222222 !default;

$color-border-main: #cdcdcd !default;

$color-outline-error: #ff8282 !default;

$font-content: "Arial", sans-serif !default;

.form {
  margin-bottom: 32px;
}

.form__user-data {
  @include block-reset;

  margin: 39px 0 0;

  border: none;
}

.form__label {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $color-text-quaternary;

  text-transform: uppercase;

  &:not(:first-child) {
    margin-top: 14px;
  }

  &--radio {
    &:not(:first-child) {
      margin-top: 24px;
    }

    &:hover {
      .form__radio,
      .form__checkbox {
        &::before {
          border-color: #bababa;
        }
      }
    }

    &:active {
      opacity: 0.3;

      .form__radio,
      .form__checkbox {
        &::before {
          border-color: #bababa;
        }
      }
    }
  }
}

.form__input {
  flex-grow: 1;
  margin: 0 0 0 14px;
  padding: 12px 15px 13px;
  border: 1px solid rgba($color-border-main, 0.5);

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $color-text-secondary;

  text-transform: uppercase;

  &:hover {
    border: 1px solid $color-border-main;
  }

  &:active,
  &:focus {
    border: 1px solid $color-text-secondary;
    outline: 1px solid $color-text-secondary;
  }

  &--error {
    border: 1px solid $color-outline-error;
    outline: 1px solid $color-outline-error;
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 17px 13px;

    margin-left: 11px;
    padding-right: 10px;
  }

  &--tel {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 20px 20px;

    margin-left: 9px;
    padding-right: 10px;
  }

}

.form__user-goal {
  margin: 23px (-$margin-section) 0;
  padding: 27px 20px 27px 64px;

  border: 1px solid rgba($color-border-main, 0.5);
}

.form__radio {
  position: absolute;
  top: 50%;
  left: -45px;

  cursor: pointer;
  height: 0;
  width: 0;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $color-border-main;
    border-radius: 50%;
  }

  &:checked {
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(76%, -50%);

      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background-color: $color-bg-tertiary;
      border-radius: 50%;
    }
  }
}

.form__user-contacts {
  @include block-reset;

  margin-top: 28px;

  border: none;
}

.form__title-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 34px;
}

.form__title {
  @include block-reset;

  flex-grow: 0;
  flex-shrink: 1;

  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $color-text-main;
}

.form__title-line {
  flex-grow: 1;
  flex-shrink: 0;

  margin-top: 14px;
  margin-left: 22px;
  margin-right: -$margin-section;

  display: block;
  width: 97px;
  height: 3px;

  background-color: $color-bg-tertiary;
}

.form__comments {
  @include block-reset;

  margin-top: 28px;

  border: none;
}

.form__textarea {
  margin: 0;
  padding: 13px 13px;

  width: 100%;
  min-height: 150px;

  overflow: hidden;
  resize: none;
}

.form__other {
  @include block-reset;

  margin-top: 28px;

  border: none;
}

.form__checkbox-wrapper {
  padding: 6px 20px 20px 45px;
}

.form__checkbox {
  position: absolute;
  top: 50%;
  left: -45px;

  cursor: pointer;
  height: 0;
  width: 0;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $color-border-main;
  }

  &:checked {
    &::before {
      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 21px 16px;
    }
  }
}

.form-button {
  margin-top: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.form__text {
  margin-top: 21px;

  font-family: $font-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: $color-text-secondary;
  vertical-align: middle;
  text-align: center;
}

@media (min-width: $width-tablet) {
  .form {
    margin: 0 37px 0 42px;
    padding-top: 66px;
  }

  .form__user-data {
    margin: 0;
  }

  .form__label {
    font-size: 20px;
    line-height: 20px;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &--radio {
      &:not(:first-child) {
        margin-top: 33px;
      }

      &:hover {
        .form__radio,
        .form__checkbox {
          &::before {
            border-color: #bababa;
          }
        }
      }

      &:active {
        opacity: 0.3;

        .form__radio,
        .form__checkbox {
          &::before {
            border-color: #bababa;
          }
        }
      }
    }

    &--checkbox {
      margin-bottom: 52px;

      width: 220px;

      &:nth-child(2n) {
        margin-left: 124px;
      }

      &:not(:first-child) {
        margin-top: 0;
      }
    }
  }

  .form__input {
    margin: 0 0 0 16px;
    padding: 10px 18px 10px;

    font-size: 20px;
    line-height: 20px;

    &:hover {
      border: 1px solid $color-border-main;
    }

    &:active,
    &:focus {
      border: 1px solid $color-text-secondary;
      outline: 1px solid $color-text-secondary;
    }

    &--error {
      border: 1px solid $color-outline-error;
      outline: 1px solid $color-outline-error;
    }

    &--email {
      background-position: right 18px center;

      margin-left: 18px;
      padding-right: 20px;
      padding-left: 20px;
    }

    &--tel {
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: right 15px center;
      background-size: 20px 20px;

      margin-left: 12px;
      padding-right: 10px;
    }
  }

  .form__user-goal {
    margin: 72px 0 0;
    padding: 34px 20px 34px 86px;
    border: 1px solid rgba($color-border-main, 0.5);
  }

  .form__radio {
    position: absolute;
    top: 50%;
    left: -45px;

    cursor: pointer;
    height: 0;
    width: 0;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -15px;

      content: "";
      display: block;
      width: 40px;
      height: 40px;
      border: 1px solid $color-border-main;
      border-radius: 50%;
    }

    &:checked {
      &::after {
        position: absolute;
        top: 0;
        left: -4px;
        transform: translate(0, -50%);

        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background-color: $color-bg-tertiary;
        border-radius: 50%;
      }
    }
  }

  .form__user-contacts {
    margin-top: 75px;
  }

  .form__title-wrapper {
    margin-bottom: 76px;
  }

  .form__title {
    position: relative;

    margin-left: -3px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      display: block;

      position: absolute;
      top: 22px;
      left: -67px;

      width: 28px;
      height: 3px;

      background-color: $color-bg-tertiary;
    }
  }

  .form__title-line {
    margin-top: 22px;
    margin-left: 43px;
    margin-right: -67px;
  }

  .form__comments {
    margin-top: 65px;
  }

  .form__textarea {
    margin: 0;
    padding: 14px 19px;
    min-height: 174px;
  }

  .form__other {
    margin-top: 63px;
  }

  .form__checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-left: 56px;
    padding: 0;
  }

  .form__checkbox {
    position: absolute;
    top: 50%;
    left: -58px;

    cursor: pointer;
    height: 0;
    width: 0;

    &::before {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 40px;
      height: 40px;
    }

    &:checked {
      &::before {
        background-image: url("../img/icon-tick.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 21px 16px;
      }
    }
  }

  .form-button {
    display: inline-block;

    margin-top: 13px;
    padding-top: 15px;
    padding-bottom: 17px;
    width: 283px;

    font-size: 20px;
    line-height: 20px;
  }

  .form__text {
    display: inline-block;
    margin-top: 6px;
    margin-left: 56px;

    font-size: 16px;
  }
}

@media (min-width: $width-desktop) {
  .form {
    margin: 0 0 43px;
    padding-top: 66px;
  }

  .form__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form__user-data {
    flex-grow: 0;
    flex-shrink: 0;

    margin: 0;
    width: 570px;
  }

  .form__label {
    font-size: 20px;
    line-height: 20px;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &--contacts {
      width: 570px;
      margin: 0;

      &:not(:first-child) {
        margin-top: 0;
        margin-left: 80px;
      }
    }

    &--radio {
      &:not(:first-child) {
        margin-top: 33px;
      }

      &:hover {
        .form__radio,
        .form__checkbox {
          &::before {
            border-color: #bababa;
          }
        }
      }

      &:active {
        opacity: 0.3;

        .form__radio,
        .form__checkbox {
          &::before {
            border-color: #bababa;
          }
        }
      }
    }

    &--checkbox {
      margin-bottom: 52px;

      width: 175px;

      &:nth-child(2n) {
        margin-left: 0;
      }

      &:not(:first-child) {
        margin-top: 0;
        margin-left: 150px;
      }
    }
  }

  .form__input {
    margin: 0 0 0 18px;
    padding: 10px 18px 10px;

    font-size: 20px;
    line-height: 20px;

    &:hover {
      border: 1px solid $color-border-main;
    }

    &:active,
    &:focus {
      border: 1px solid $color-text-secondary;
      outline: 1px solid $color-text-secondary;
    }

    &--error {
      border: 1px solid $color-outline-error;
      outline: 1px solid $color-outline-error;
    }

    &--email {
      background-position: right 18px center;

      margin-left: 22px;
      padding-right: 20px;
      padding-left: 20px;
    }

    &--tel {
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: right 12px center;
      background-size: 20px 20px;

      margin-left: 15px;
      padding-right: 10px;
    }
  }

  .form__user-goal {
    flex-grow: 0;
    flex-shrink: 0;

    margin: 0 0 0 80px;
    padding: 34px 20px 34px 86px;

    width: 570px;

    border: 1px solid rgba($color-border-main, 0.5);
  }

  .form__radio {
    position: absolute;
    top: 50%;
    left: -45px;

    cursor: pointer;
    height: 0;
    width: 0;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -15px;

      content: "";
      display: block;
      width: 40px;
      height: 40px;
      border: 1px solid $color-border-main;
      border-radius: 50%;
    }

    &:checked {
      &::after {
        position: absolute;
        top: 0;
        left: -4px;
        transform: translate(0, -50%);

        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background-color: $color-bg-tertiary;
        border-radius: 50%;
      }
    }
  }

  .form__user-contacts {
    margin-top: 69px;
  }

  .form__title-wrapper {
    margin-bottom: 76px;
  }

  .form__title {
    position: relative;

    margin-left: -3px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      left: -107px;
      width: 70px;
    }
  }

  .form__title-line {
    margin-left: 45px;
    margin-right: -110px;
  }

  .form__comments {
    margin-top: 67px;
  }

  .form__textarea {
    margin: 0;
    padding: 14px 16px;
    min-height: 174px;
  }

  .form__other {
    margin-top: 65px;
  }

  .form__checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-left: 58px;
    padding: 0;
  }

  .form__checkbox {
    position: absolute;
    top: 50%;
    left: -58px;

    cursor: pointer;
    height: 0;
    width: 0;

    &::before {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 40px;
      height: 40px;
    }

    &:checked {
      &::before {
        background-image: url("../img/icon-tick.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 21px 16px;
      }
    }
  }

  .form-button {
    display: inline-block;

    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 17px;
    width: 570px;

    font-size: 20px;
    line-height: 20px;
  }

  .form__text {
    display: inline-block;
    margin-top: 6px;
    margin-left: 78px;

    font-size: 16px;
  }
}
