$font-content: "Arial", sans-serif !default;

.how-it-works__title {
  margin: 0 0 29px 0;
  padding: 0;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  vertical-align: middle;
  color: $color-text-main;
}

.how-it-works__list {
  font-family: $font-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $color-text-secondary;
}

.how-it-works__item {
  position: relative;

  margin-bottom: 26px;
  padding-left: 80px;

  &::before {
    content: "";
    display: block;

    position: absolute;
    top: -2px;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-bg-tertiary;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
  }

  &--leaf {
    &::before {
      background-image: url("../../img/advantage-leaf@1x.png");
    }
  }

  &--powder {
    &::before {
      background-image: url("../../img/advantage-powder@1x.png");
    }
  }

  &--dining {
    &::before {
      background-image: url("../../img/advantage-dining@1x.png");
    }
  }

  &--clock {
    &::before {
      background-image: url("../../img/advantage-clock@1x.png");
    }
  }
}
