$width-tablet: 768px !default;
$width-desktop: 1300px !default;

$margin-section: 20px !default;
$margin-section-tablet: 30px !default;
$margin-section-desktop: 40px !default;

$color-bg-secondary: #f2f2f2 !default;

$color-border-main: #cdcdcd !default;

$color-text-main: #111111 !default;
$color-text-secondary: #444444 !default;

$font-content: "Arial", sans-serif !default;

.product {
  padding-right: $margin-section;
  padding-left: $margin-section;

  &--expand {
    &::before {
      content: "";
      display: block;

      width: 30px;
      height: 30px;

      margin: 26px auto 24px;

      background-image: url("../img/icon-plus-mobile.svg");
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;

      opacity: 0.2;
    }
  }
}

.product__image-wrapper {
  width: 50%;
}

.product__image {
  display: block;
  margin: 0 auto;
}

.product__description {
  width: 50%;

  border-collapse: collapse;
}

.product__name {
  padding: 0 40% 12px 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-text-main;
  vertical-align: top;
  text-align: left;
  text-transform: uppercase;

  &--expand {
    @include block-reset;

    text-align: center;
  }
}

.product__name-link {
  text-decoration: none;
  color: inherit;
}

.product__property {

  font-family: $font-content;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $color-text-secondary;
  vertical-align: middle;

  &--expand {
    @include block-reset;

    text-align: center;
    margin-top: 7px;
    margin-bottom: 21px;
  }
}

.product__property-name {
  width: 65%;
  padding: 0;
  text-align: left;
}

.product__property-value {
  width: 35%;
  padding: 0;
  text-align: right;
}

.product__button {
  width: 100%;

  padding: 10px 15px;

  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $width-tablet) {
  .product {
    position: relative;

    margin: 0 $margin-section-tablet 59px;

    padding: 0 37px 39px;

    &::after {
      content: "";
      display: block;

      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;

      width: 100%;
      height: 80%;

      background-color: $color-bg-secondary;
    }

    &--expand {
      margin-top: 82px;

      border: 1px solid rgba($color-border-main, 0.5);

      &::before {
        content: "";
        display: block;
        margin: 54px auto 49px;

        width: 60px;
        height: 60px;

        background-image: url("../img/icon-plus.svg");
        background-size: 60px;
        background-repeat: no-repeat;
        background-position: center;

        opacity: 0.2;
      }

      &::after {
        display: none;
      }
    }
  }

  .product__image-wrapper {
    display: flex;
    align-items: flex-end;
    width: auto;
    height: 208px;

    &::before {
      content: "";
      display: block;

      position: absolute;
      top: 82px;
      left: 0;
      z-index: -1;

      width: 100%;
      height: 80%;

      background-color: $color-bg-secondary;
    }
  }

  .product__image {
    margin: 0 -37px;

    width: 324px;
    height: auto;
  }

  .product__description {
    margin: 37px 0 0;
    width: auto;
  }

  .product__name {
    padding: 0 50px 19px;

    font-size: 20px;
    text-align: center;
  }

  .product__property {
    font-size: 16px;

    border-bottom: 1px solid $color-border-main;

    &--expand {
      margin-top: 5px;
      padding: 0 20px;

      line-height: 20px;
      border: none;
    }
  }

  .product__property-name {
    padding: 8px 0 7px 0;
  }

  .product__property-value {
    padding: 8px 0 7px 0;
  }

  .product__button {
    margin-top: 33px;

    &--expand {
      margin-top: 83px;
    }
  }
}

@media (min-width: $width-desktop) {
  .product {
    margin: 0 40px 63px;
    padding: 0 38px 39px;

    &--expand {
      margin-top: 80px;
    }
  }

  .product__image {
    width: 245px;
  }

  .product__description {
    margin: 36px 0 0;
    width: auto;
  }

  .product__name {
    padding: 0 10px 19px;

    font-size: 20px;
    text-align: center;
  }

  .product__property {
    &--expand {
      padding: 0;
    }
  }

  .product__property-name {
    padding: 8px 0 7px 0;
  }

  .product__property-value {
    padding: 8px 0 7px 0;
  }

  .product__button {
    margin-top: 33px;

    &--expand {
      margin-top: 83px;
    }
  }
}
