$color-text-main: #111111 !default;
$color-text-secondary: #444444 !default;

$font-content: "Arial", sans-serif !default;

.product__image-wrapper {
  width: 50%;
}

.product__image {
  display: block;
  margin: 0 auto;
}

.product__description {
  width: 50%;

  border-collapse: collapse;
}

.product__name {
  padding: 0;
  padding-bottom: 12px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-text-main;
  vertical-align: top;
  text-align: left;
  text-transform: uppercase;

  &--expand {
    @include block-reset;

    text-align: center;
  }
}

.product__property {

  font-family: $font-content;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $color-text-secondary;
  vertical-align: middle;

  &--expand {
    @include block-reset;

    text-align: center;
    margin-top: 7px;
    margin-bottom: 21px;
  }
}

.product__property-name {
  width: 65%;
  padding: 0;
  text-align: left;
}

.product__property-value {
  width: 35%;
  padding: 0;
  text-align: right;
}

.product__button {
  width: 100%;

  padding: 10px 15px;

  font-size: 16px;
  line-height: 20px;
}

.product__expand {
  height: 30px;

  margin-top: 26px;
  margin-bottom: 24px;

  background-image: url("../img/icon-plus-mobile.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.2;
}

