$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;

$color-bg-tertiary: #68b738 !default;

$color-text-tertiary: #ffffff !default;

$font-content: "Arial", sans-serif !default;

.promo__text {
  position: relative;

  margin: 39px 0 35px;
  padding: 187px 45px 42px;

  background-color: $color-bg-tertiary;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  font-family: $font-content;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-text-tertiary;
  text-align: center;
  vertical-align: middle;

  &::before {
    content: "";

    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 55px;
    height: 60px;

    background-image: url("../img/icon-gift.svg");
    background-size: 55px 60px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $width-tablet) {
  .promo__text {
    position: relative;

    margin: 70px 0 0;
    padding: 72px 110px 42px 60%;
    height: 200px;

    text-align: left;

    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    background-size: 708px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");
    }

    &::before {
      content: "";
      position: absolute;
      top: 65px;
      left: 91px;
      transform: translateX(0);
    }
  }
}

@media (min-width: $width-desktop) {
  .promo {
    flex-grow: 0;
    flex-shrink: 0;
    width: 245px;

    margin-left: 78px;
    background-color: $color-bg-tertiary;
  }

  .promo__text {
    margin: 0;
    padding: 187px 30px 0;

    height: 289px;
    text-align: center;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: 245px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }

    &::before {
      content: "";
      position: absolute;
      top: 65px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
