$width-tablet: 768px !default;
$width-desktop: 1300px !default;
$margin-section-desktop: 40px !default;

$color-bg-main: #ffffff !default;
$color-bg-secondary: #f2f2f2 !default;
$color-bg-tertiary: #68b738 !default;

$color-border-main: #cdcdcd !default;

$color-text-main: #111111 !default;

.slider {
  padding-bottom: 36px;
}

.slider__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-text-main;
  text-transform: uppercase;
}

.slider__image {
  margin: 34px auto 0;

  width: 320px;
  height: 240px;

  background-color: $color-bg-secondary;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px;

  &--before {
    background-image: url("../img/before-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-mobile@2x.png");
    }
  }

  &--after {
    background-image: url("../img/after-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-mobile@2x.png");
    }
  }
}

.slider__bg {
  display: none;
}

.slider__label {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 32px;
  padding-left: 5px;
}

.slider__input {
  display: none;
}

.slider__button {
  position: relative;

  display: inline-block;

  margin: 0 18px;

  width: 84px;
  height: 14px;

  border: 1px solid $color-border-main;
  border-radius: 5px;

  background-color: $color-bg-main;

  &::before,
  &::after {
    content: "";

    width: 35px;
    height: 6px;
    border-radius: 3px;

    background-color: $color-bg-tertiary;
  }

  &::before {
    display: block;

    position: absolute;
    top: 0;
    left: 5px;

    transform: translateY(50%);
  }

  &::after {
    display: none;

    position: absolute;
    top: 0;
    right: 5px;
    transform: translateY(50%);
  }
}

@media (min-width: $width-tablet) {
  .slider {
    margin-top: 86px;

    padding-bottom: 0;

    font-size: 20px;
  }

  .slider__text {
    font-size: 20px;
    line-height: 20px;

    border-bottom: 1px dotted rgba($color-text-main, 0.23);
  }

  .slider__wrapper {
    position: relative;
    z-index: 1;

    margin: 0 auto;
    width: $width-tablet;
  }

  .slider__image {
    margin: 0;

    height: 517px;

    background-color: transparent;
    background-image: none;
    background-size: 690px;
    background-repeat: no-repeat;

    &--after {
      display: block;

      position: relative;
      width: 100%;

      background-image: url("../img/after-tablet@1x.png");
      background-size: 690px auto;
      background-position: 46px top;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/after-tablet@2x.png");
      }

      &::before {
        content: "";
        display: block;

        position: absolute;
        z-index: -1;

        width: 100%;
        height: 100%;

        background-color: $color-bg-main;
      }

      &::after {
        content: "";
        display: block;

        position: absolute;
        top: 169px;

        z-index: -1;

        width: 100%;
        height: 462px;

        background-color: #eaeaea;
      }
    }

    &--before {
      position: absolute;
      bottom: 0;
      z-index: 2;

      width: 50%;
      height: 100%;

      background-image: url("../img/before-tablet@1x.png");
      background-size: 690px auto;
      background-position: 46px top;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/before-tablet@2x.png");
      }
    }
  }

  .slider__bg {
    display: block;

    &--before {
      content: "";
      display: block;

      position: absolute;

      width: 50%;
      height: 100%;

      background-color: $color-bg-main;
    }

    &--after {
      content: "";
      display: block;

      position: absolute;
      top: 169px;

      width: 50%;
      height: 462px;

      background-color: $color-bg-secondary;
    }
  }

  .slider__label {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 10;

    margin-top: 20px;
    padding-left: 0;
  }

  .slider__button {
    display: none;
  }

  .slider__range {
    display: block;

    margin: 0 22px;

    width: 428px;
    height: 6px;
    background-color: #dcdcdc;

    border-radius: 3px;

    cursor: pointer;
  }

  .slider__thumb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;

    width: 34px;
    height: 34px;

    border: 1px solid $color-border-main;
    border-radius: 50%;

    background-color: $color-bg-main;

    box-shadow: 0 2px 5px rgba(#000000, 0.15);

    cursor: pointer;

    &::after {
      content: "";
      display: block;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 8px;
      height: 8px;

      border-radius: 50%;

      background-color: $color-bg-tertiary;
    }
  }
}

@media (min-width: $width-desktop) {
  .slider {
    margin: -34px 0 0;
    padding-right: $margin-section-desktop - 40px;

    width: 50%;
  }

  .slider__wrapper {
    width: 100%;
  }

  .slider__image {
    margin-top: -21px;

    &--after {
      background-image: url("../img/after-desktop@1x.png");
      background-size: 690px auto;
      background-position: -40px 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/after-desktop@2x.png");
      }


      &::before {
        content: "";
        display: block;

        position: absolute;
        z-index: -1;

        width: 100%;
        height: 100%;

        background-color: $color-bg-main;
      }

      &::after {
        content: "";
        display: block;

        position: absolute;
        top: 190px;

        z-index: -1;

        width: 100%;
        height: 432px;

        background-color: #eaeaea;
      }
    }

    &--before {
      position: absolute;
      bottom: 0;
      z-index: 2;

      width: 50%;
      height: 100%;

      background-image: url("../img/before-desktop@1x.png");
      background-position: -40px 0;
      background-size: 690px auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/before-desktop@2x.png");
      }
    }
  }

  .slider__bg {
    margin-top: 21px;
    display: block;

    &--before {
      content: "";
      display: block;

      position: absolute;

      width: 50%;
      height: 100%;

      background-color: $color-bg-main;
    }

    &--after {
      content: "";
      display: block;

      position: absolute;
      top: 169px;

      width: 50%;
      height: 461px;

      background-color: $color-bg-secondary;
    }
  }

  .slider__label {
    margin-top: 40px;
  }
}
