$color-icon-social: #666666 !default;

.social {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 31px;
  margin-left: -12px;

  padding-top: 22px;
  padding-bottom: 10px;

  border-top: 1px solid rgba(black, 0.1);
  border-bottom: 1px solid rgba(black, 0.1);
}

.social__item {
  &:not(:first-child) {
    margin-left: 38px;
  }
}
