$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;

$margin-section: 20px;
$margin-section-tablet: 30px;
$margin-section-desktop: 110px;

$color-bg-main: #ffffff;
$color-bg-secondary: #f2f2f2;
$color-bg-secondary-darken: #ebebeb;
$color-bg-tertiary: #68b738;
$color-bg-tertiary-darken: #5eaa2f;
$color-bg-banner: #64a83b;

$color-border-main: #cdcdcd;
$color-border-catalog-item: #ededed;

$color-outline-error: #ff8282;

$color-text-main: #111111;
$color-text-secondary: #444444;
$color-text-tertiary: #ffffff;
$color-text-quaternary: #222222;

$color-icon-social: #666666;

$color-item-separator: #e6e6e6;

$font-content: "Arial", sans-serif;
