/*colors*/

$color-bg-main: #ffffff;
$color-bg-secondary: #f2f2f2;
$color-bg-tertiary: #68b738;
$color-bg-color-darken: #5eaa2f;
$color-bg-banner: #64a83b;

$color-border-main: #cdcdcd;

$color-text-main: #111111;
$color-text-secondary: #444444;
$color-text-tertiary: #ffffff;

$font-content: "Arial", sans-serif;

$color-item-separator: #e6e6e6;
